@media (max-width:500px){
.headerClass{
width: 100%;
}

#navbar {
    position: relative;
    right: 108px;
    top: 13px;
}
#heading2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 44px;
    font-size: 1.5rem;
}
.btn{
    left: 56px;
    top: 10px;
}
.firstContainerS {
    width: 100%;
    margin-left: 0px;
    margin-right: 200px;
}
#paraS1{
    width: 81%;
    margin-top: 5px;
}
#paraS2 {
   margin-top: 0px;
}
#heading1 {
    margin-left: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
}
#secondHeading{
    font-size: 2.0rem;
}
.imageM {
    width: 50px;
    height: 50px;
}
ul.weelUl {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: 55px;
}
.a {
    font-size: 1.0rem;
}
#unList li{
    list-style: none;
    margin: 5px;
}
.weekList {
    list-style: none;
    margin: 0px 3.5px;
}
.logoInside {
    width: 130px;
    height: 110px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
h1.headingProgram {
    font-size: 0.9rem;
}
p.para1Inside.paraLogo {
    margin-top: 8px;
    margin-left: 14px;
}
.paraLogo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.7rem;
    text-align: center;
    width: 100px;
}

p.paraLogo.paraLogo1 {
    text-align: center;
    width: 100px;
}
.logoImages {
    width: 40px;
    height: 50px;
    margin-top: 0px;
}
p.para3Inside.paraLogo {
    width: 75%;
}
#headingSection {
    font-size: 2.0rem;
    color: white;
    position: absolute;
    top: 100x;
    left: 46px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
#headingSection1 {
    font-size: 2.0rem;
    color: white;
    position: absolute;
    top: 190px;
    left:57px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

header::before {
    content: "";
    background: url(../imagesWebsite/boyBackground.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
   
}
.logoImage {
    width: 50px;
    height: 24px;
}
.logo {
    width: 20%;
    height: 30px;
    margin: 10px 10px;
}
.headingLogoImage{
    font-size: 1.0rem;
    position: relative;
    top: 0px;
}
.WeekAnchor{
    font-size: 0.8rem;
}

.insideDivProgram {
    width: 150px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 11px;
}
.differentPorgrams {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 287px;
    top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 13px;
}
.imageProgram {
    width: 40px;
    height: 40px;
}
.firstContainerS {
    width: 100%;
    margin-left: 0px;
    margin-right: 200px;
    margin-top: 60px;
}
span#span1 {
    position: relative;
    left: 35px;
    font-size: 0.6rem;
    bottom: 11px;
}
span#span2 {
    position: relative;
    left: 5px;
    font-size: 0.6rem;
    bottom: 12px;
}
span#span3 {
    position: relative;
    left: 15px;
    font-size: 0.6rem;
    bottom: -2px;
    bottom: 12px;
}
#span11 {
    position: relative;
    left: 37px;
    font-size: 0.6rem;
    bottom: 13px;
}
#span12 {
    position: relative;
    left: 8px;
    font-size: 0.6rem;
    bottom: 15px;
}
#span13 {
    position: relative;
    left: 3px;
    font-size: 0.6rem;
    bottom: 16px;
}
.colorPara {
    color: #848484;
    width: 211px;
}
.btnInsideDivProgram {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccc;
    position: relative;
    right: 3px;
    top: -6px;
}
.trainers {
    position: relative;
    top: -40px;
}

#Buttone2{
    position: relative;
    top:-5px
}
button#buttone {
    position: relative;
    top: 0px;
}

#imageProgram2{
    width: 40px;
    height: 40px;
} 
#imageProgram1 {
    height: 50px;
    width: 50px;
    
}
.innerDiv{
    width: 105px;
    height: 136px;
}
#innerDivJ1{
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    
}
#innerDivJ2{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#innerDivJ3{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#innerDivJ4{
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#logoJava {
    margin-top: 22px;
    display: flex;
}

.logophoto{
width: 40px;
height: 50px;
}
#span21 {
    position: relative;
    left: 33px;
    font-size: 0.6rem;
    bottom: 8px;
}
h1#headingProgram1 {
    position: relative;
    bottom: 6px;
}
#span22 {
    position: relative;
    left: 10px;
    font-size: 0.6rem;
    bottom: 10px;
}
#span23 {
    position: relative;
    left: 5px;
    font-size: 0.6rem;
    bottom: 10px;
}
button#button3 {
    position: relative;
    top: 4px;
}
#button1{
    position: relative;
    top: 4px;
}
.trainerphoto{
    width: 130px;
    height: 130px;
    margin: 10px 15px;
}
#showHeadingJob1 {
    font-size: 11px;
    color: white;
    display: none;
    position: absolute;
    right: 377px;
    top: 68px;
}
#showHeadingName1 {
    font-size: 15px;
    color: white;
    display: none;
    position: absolute;
    right: 360px;
    top: 52px;
}
.logoShower {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 39px;
    position: absolute;
    left: 49px;
    top: 91px;
}
.buttonResponsive{
    position: relative;
    bottom: 0px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccc;
    font-size: 16px;
}
.logoImage {
    width: 20px;
    height: 20px;
}
#showHeadingName2 {
    font-size: 13px;
    color: black;
    display: none;
    position: absolute;
    top: 54px;
    left: 193px;
   
}
  
#showHeadingJob2 {
    font-size: 12px;
    color: black;
    display: none;
    position: absolute;
    top: 64px;
}
  #logoShower2 {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 66px;
    position: absolute;
    top: 76px;
}
#showHeadingName3 {
    font-size: 14px;
    color: white;
    display: none;
    position: absolute;
    top: 52px;
    right: 37px;
   
}
  
#showHeadingJob3 {
    font-size: 12px;
    color: white;
    display: none;
    position: absolute;
    top: 61px;
    right: 55px;
}
#logoShower3 {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 66px;
    position: absolute;
    top: 73px;
    right: 64px;
}

#headingNascosto {
    font-size: 14px;
    color: white;
    display: none;
    position: absolute;
    right: 356px;
    top: 51px;
}
#headingCrosfit {
    font-size: 12px;
    color: white;
    display: none;
    position: absolute;
    right: 367px;
    top: 61px;
}
#logoShowerB {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 66px;
    position: absolute;
    top: 73px;
    left: 56px;
}
#showHeadingName4 {
    font-size: 15px;
    color: white;
    display: none;
    position: absolute;
    top: 50px;
    left: 196px;
}
#showHeadingJob4 {
    font-size: 12px;
    display: none;
    color: white;
    top: 61px;
    position: absolute;
}
#logoShower4 {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 66px;
    position: absolute;
    top: 74px;
    left: 213px;
}
#showHeadingName5 {
    font-size: 14px;
    color: white;
    position: absolute;
    display: none;
    width: 100%;
    top: 51px;
    left: 349px;
    display: none;
}
#showHeadingJob5 {
    left: 371px;
    font-size: 13px;
    color: white;
    top: 60px;
    position: absolute;
    width: 100%;
    display: none;
}
#logoShower5 {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 66px;
    position: absolute;
    right: 63px;
    top: 72px;
}

p#paraAbout2 {
    font-size: 1.5rem;
    color: white;
    top: 54px;
}
p#paraAbout1 {
    font-size: 1.2rem;
    position: relative;
    top: 85px;
    color: white;
}
#footerSotto {
    border: 2px solid black;
    border-radius: 5px;
    position: relative;
    top: 59px;
    height: 40px;
    background-color: black;
    color: white;
}
#about {
    position: relative;
    top: 63px;
    
}
.aboutClass {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../imagesWebsite/GirlBackGroundTrainer.jpg) no-repeat;
    color: Black;
    height: 400px;
    flex-wrap: wrap;
    position: relative;
    
}
}

