@media (max-width : 360px) {
  
    
    .headerClass{
        width: 100%;
    }
    
    #navbar {
        display: inline;
        position: relative;
        right: 17px;
        bottom: 20px;
        width: 80%;
    }
    #heading2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 44px;
        font-size: 1.5rem;
    }
    
    
    #btn1 {
        width: 81px;
        border-radius: 20px;
        height: 26px;
        border: 1px;
        position: absolute;
        left: 42px;
        top: 168px;
    }
    .firstContainerS {
        width: 100%;
        margin-left: 0px;
        margin-right: 200px;
    }
    #paraS1 {
        width: 75%;
        margin-top: 5px;
        position: relative;
        right: 5px;
        font-size: 0.8rem;
    }
    #paraS2 {
        margin-top: 0px;
        font-size: 0.8rem;
        position: relative;
        right: 11px;
    }
    #heading1 {
        margin-left: 44px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.5rem;
    }
    #secondHeading {
        font-size: 1.2rem;
        margin-top: 20px;
        position: relative;
        right: 14px;
    }
    .imageM {
        width: 30px;
        height: 50px;
    }
    ul.weelUl {
        display: flex;
        margin-left: 15px;
        padding: 0px;
    }
    .a {
        font-size: 0.7rem;
    }
    #unList li{
        list-style: none;
        margin: 5px;
    }
    #unList {
        display: flex;
        margin-top: 30px;
        padding: 0px;
        
    }
    section.firstSection {
        position: relative;
        
        bottom: 127px;
    }
    .center {
        width: 600px;
        height: 150px;
        position: relative;
        top: 133px;
    }
    #heading1 {
        margin-left: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.0rem;
    }
    #heading2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 44px;
        font-size: 1.0rem;
    }
    .weekList {
        list-style: none;
        margin: 0px 3.5px;
    }
    .logoInside {
        width: 162px;
        height: 110px;
        margin: 0px 8px;
    }
    h1.headingProgram {
        font-size: 0.9rem;
        position: relative;
        left: 0px;
    }
    p.para1Inside.paraLogo {
        margin-top: 8px;
        margin-left: 14px;
    }
    .paraLogo {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.7rem;
        text-align: center;
        width: 100px;
    }
    
    p.paraLogo.paraLogo1 {
        text-align: center;
        width: 100px;
    }
    .logoImages {
        width: 30px;
        height: 50px;
        margin-top: 0px;
    }
    p.para3Inside.paraLogo {
        width: 75%;
    }
    
    #headingSection1 {
        font-size: 2.0rem;
        color: white;
        position: absolute;
        top: 190px;
        left:57px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    
    header::before {
        content: "";
        background: url(../imagesWebsite/boyBackground.jpg) no-repeat center center/cover;
        width: 100%;
        height: 250px;
        position: absolute;
        z-index: -1;
        opacity: 0.9;
    }
    .logoImage {
        width: 50px;
        height: 24px;
    }
    section.ScheduleSection {
        position: relative;
        top: 38px;
    }
    .logo {
        width: 20%;
        height: 30px;
        margin: 10px 10px;
    }
    .headingLogoImage {
        font-size: 0.5rem;
        position: absolute;
        top: 26px;
        left: 14px;
        
    }
    .WeekAnchor {
        font-size: 0.6rem;
        color: black;
        font-weight: bold;
    }
    
    .insideDivProgram {
        width: 150px;
        height: 202px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        border: 2px solid red;
    }
    div#inside1 {
        margin-left: 9px;
    }
    .difMain{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 287px;
        top: 60px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }
    .differentPorgrams2 {
        width: 100%;
        margin-left: 0px;
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    #differentPorgrams3 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 287px;
        top: 194px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 17px;
    }
    
    .imageProgram {
        width: 50px;
        height: 50px;
        position: relative;
        left: 0px;
    }
    #firstContainerResponsive{
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    span#span1 {
        position: relative;
        left: 22px;
        font-size: 0.7rem;
        bottom: 10px;
    }
    
    span#span2 {
        position: relative;
        left: -8px;
        font-size: 0.7rem;
        bottom: 12px;
    }
    span#span3 {
        position: relative;
        left: 29px;
        font-size: 0.7rem;
        bottom: -2px;
        bottom: 13px;
    }
    #span11 {
        position: relative;
        left: 21px;
        font-size: 0.7rem;
        bottom: 0px;
    }
    #span12 {
        position: relative;
        left: -9px;
        font-size: 0.7rem;
        bottom: 0px;
    }
    #span13 {
        position: relative;
        left: 29px;
        font-size: 0.7rem;
        bottom: 0px;
    }
    .colorPara {
        color: #848484;
        width: 211px;
        position: relative;
        
        left: 11px;
        
    }
    .btnInsideDivProgram {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid;
        border-color: #ccc;
        position: relative;
        right: 3px;
        top: -6px;
    }
    .trainers {
        position: relative;
        top: 0px;
    }
    div#cyclingDivProgram {
        position: relative;
        top: 209px;
        right: 358px;
    }
    button#btn2 {
        position: relative;
        top: 9px;
        border-radius: 20px;
    }
    #Buttone2 {
        position: relative;
        top: -5px;
        left: 4px;
        border-radius: 20px;
    }
    button#buttone {
        position: relative;
        top: 6px;
        border-radius: 20px;
    }
    
    #imageProgram2 {
        width: 40px;
        height: 40px;
        position: relative;
        left: 10px;
    }
    #imageProgram1 {
        height: 50px;
        width: 50px;
        position: relative;
        top: 15px;
    }
    .innerDiv {
        width: 158px;
        height: 136px;
        margin: 0px 10px;
    }
    #innerDivJ1{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        
    }
    #innerDivJ2{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #innerDivJ3 {
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: relative;
        left: 8px;
    }
    #innerDivJ4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: relative;
        left: 16px;
    }
    #logoJava {
        margin-top: 22px;
        display: flex;
        flex-wrap: wrap;
    }
    .swiming {
        position: relative;
        left: 14px;
    }
    .logophoto{
        width: 40px;
        height: 50px;
    }
    #span21 {
        position: relative;
        left: 33px;
        font-size: 0.7rem;
        bottom: 10px;
    }
    h1#headingProgram1 {
        position: relative;
        font-size: 0.8rem;
        top: 12px;
    }
    #span22 {
        position: relative;
        left: 10px;
        font-size: 0.7rem;
        bottom: 12px;
    }
    #span23 {
        position: relative;
        left: 5px;
        font-size: 0.7rem;
        bottom: 13px;
    }
    button#button3 {
        position: relative;
        top: 4px;
        left: 4px;
        border-radius: 20px;
    }
    #button1{
        position: relative;
        top: 4px;
        border-radius: 20px;
    }
    .trainerphoto {
        width: 100px;
        height: 120px;
        margin: 10px 10px;
    }
    #showHeadingJob1 {
        font-size: 9px;
        color: white;
        display: none;
        position: absolute;
        right: 270px;
        top: 59px;
    }
    #showHeadingName1 {
        font-size: 12px;
        color: white;
        display: none;
        position: absolute;
        right: 257px;
        top: 46px;
    }
    .logoShower {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 39px;
        position: absolute;
        left: 27px;
        top: 74px;
    }
    .buttonResponsive {
        position: relative;
        bottom: 4px;
        width: 80px;
        height: 25px;
        border-radius: 5px;
        left: 5px;
        border: 1px solid;
        border-color: #ccc;
        font-size: 16px;
    }
    .logoImage {
        width: 20px;
        height: 15px;
    }
    #showHeadingName2 {
        font-size: 11px;
        display: none;
        color: black;
        position: absolute;
        top: 49px;
        left: 132px;
    }
    
    #showHeadingJob2 {
        font-size: 10px;
        color: black;
        display: none;
        position: absolute;
        top: 58px;
    }
    #logoShower2 {
        display: none;
        flex-direction: row;
        align-items: center;
        /* height: 66px; */
        position: absolute;
        top: 61px;
        /* bottom: 16px; */
    }
    #showHeadingName3 {
        font-size: 12px;
        color: white;
        display: none;
        position: absolute;
        top: 49px;
        right: 14px;
    }
    
    #showHeadingJob3 {
        font-size: 10px;
        color: white;
        display: none;
        position: absolute;
        top: 60px;
        right: 32px;
    }
    #logoShower3 {
        display: none;
        flex-direction: row;
        align-items: center;
        /* height: 66px; */
        position: absolute;
        top: 62px;
        right: 33px;
    }
    
    #headingNascosto {
        font-size: 11px;
        color: black;
        display: none;
        position: absolute;
        right: 255px;
        top: 48px;
    }
    #headingCrosfit {
        font-size: 10px;
        color: black;
        display: none;
        position: absolute;
        right: 266px;
        top: 58px;
    }
    #logoShowerB {
        display: none;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 58px;
        left: 26px;
    }
    #showHeadingName4 {
        font-size: 12px;
        color: white;
        display: none;
        position: absolute;
        top: 48px;
        left: 137px;
    }
    #showHeadingJob4 {
        font-size: 10px;
        display: none;
        color: white;
        top: 59px;
        position: absolute;
    }
    #logoShower4 {
        display: none;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 61px;
        left: 150px;
    }
    #showHeadingName5 {
        font-size: 11px;
        color: white;
        position: absolute;
        display: none;
        width: 100%;
        top: 50px;
        left: 252px;
        
    }
    #showHeadingJob5 {
        display: none;
        left: 371px;
        font-size: 10px;
        color: white;
        top: 60px;
        position: absolute;
        width: 100%;
        left: 268px;
    }
    #logoShower5 {
        display: none;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 34px;
        top: 63px;
    }
    
    p#paraAbout2 {
        right: 20px;
        font-size: 1.5rem;
        color: white;
        top: -8px;
        
    }
    p#paraAbout1 {
        font-size: 0.6rem;
        position: relative;
        top: 24px;
        color: white;
    }
    #footerSotto {
        border: 2px solid black;
        border-radius: 5px;
        position: relative;
        top: -196px;
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        z-index: -1;
    }
    
    .aboutClass {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../imagesWebsite/GirlBackGroundTrainer.jpg) no-repeat;
        color: Black;
        height: 350px;
        flex-wrap: wrap;
        position: relative;
        bottom: 0px;
    }
    #headingSection {
        font-size: 1.5rem;
        color: white;
        position: absolute;
        top: 86px;
        left: 19px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    #headingSection1 {
        font-size: 1.5rem;
        color: white;
        position: absolute;
        top: 116px;
        left: 42px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    #headingSection1:hover{
        color: violet;
        font-size: 1.7rem;
    }
    
    #headingSection:hover{
        color: violet;
        font-size: 1.7rem;
    }
    .imageSlider {
        position: relative;
        top: 55px;
        height: 297px;
    }
    .imageSlider::before {
        background: url(../imagesWebsite/sectionBack3.jpg) no-repeat center center/cover;
        content: " ";
        position: absolute;
        width: 100%;
        height: 292px;
        top: 0px;
        left: 0px;
        z-index: -1;
        opacity: 0.9;
    }
    #Classes {
        position: relative;
        top: 50px;
    }
    .differentPorgrams1 {
        position: relative;
        top: 0px;
        margin-top: 25px;
    }
    p1#paraProgram1 {
        position: relative;
        top: 3px;
    }
    div#boxingInsideDiv {
        position: relative;
        border: 2px solid yellow;
        bottom: 181px;
        left: 164px;
    }
    div#cyclingDivProgram {
        position: relative;
        top: 221px;
        right: 358px;
        border: 2px solid black;
    }
    h1#headingProgram2 {
        font-size: 0.9rem;
    }
    #SwimmingInsideDiv{
        border: 2px solid pink;
    }
    #MessageInsideDiv{
        border: 2px solid skyblue;
    }
    .boxingButton {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid;
        border-color: #ccc;
        position: relative;
        right: 3px;
        top: 4px;
    }
    
 
    #paraS11 {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        color: #848484;
        margin-left: -8px
    }
    #paraS22 {
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        color: #848484;
        margin-top: 1px;
    }
    #trainerImages1 {
        position: relative;
        top: 0px;
    }
    #trainerImages2 {
        position: relative;
        top: 0px;
    }
    #about {
        position: relative;
        top: -130px;
    }
    #paraFooter {
        text-align: center;
        font-size: 0.8rem;
        color: white;
        position: relative;
        top: 14px;
        align-items: center;
    }
    .differentPorgrams {
        display: flex;
        position: relative;
        top: 0px; 
        margin: 0px 0px;
        border: 2px solid green;
       
    }
    button#btn2 {
        position: relative;
        top: 9px;
    }
}
@media (max-width : 500px) and (min-width:361px){

    .headerClass{
    width: 100%;
    }
    .center {
        width: 600px;
        height: 100px;
        position: relative;
        top: 150px;
    }
    #navbar {
        position: relative;
        right: 108px;
        top: 13px;
    
    }
    #heading2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 44px;
        font-size: 1.5rem;
    }
    .btn{
        left: 56px;
        top: 10px;
    }
    .firstContainerS {
        width: 100%;
        margin-left: 0px;
        position: relative;
        top: 33px;
    }
    .differentPorgrams1 {
        width: 100%;
        margin-left: 0px;
        position: relative;
        top: 152px;
        margin-top: 44px;
        /* margin-bottom: 63px; */
    }
    div#SwimmingInsideDiv {
        position: relative;
        bottom: 271px;
        left: 183px;
    }
    div#cyclingDivProgram {
        position: relative;
        bottom: 1px;
    }
    #paraS1{
        width: 81%;
        margin-top: 5px;
    }
    #paraS2 {
       margin-top: 0px;
    }
    #heading1 {
        margin-left: 44px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.5rem;
    }
    #secondHeading{
        font-size: 2.0rem;
    }
    .imageM {
        width: 50px;
        height: 50px;
    }
    ul.weelUl {
        display: flex;
        margin: 0px;
        padding: 0px;
        margin-left: 55px;
    }
    .a {
        font-size: 1.0rem;
    }
    #unList li{
        list-style: none;
        margin: 5px;
    }
    .weekList {
        list-style: none;
        margin: 0px 3.5px;
    }
    .logoInside {
        width: 130px;
        height: 110px;
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    h1.headingProgram {
        font-size: 0.9rem;
    }
    p.para1Inside.paraLogo {
        margin-top: 8px;
        margin-left: 14px;
    }
    .paraLogo {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.7rem;
        text-align: center;
        width: 100px;
    }
    
    p.paraLogo.paraLogo1 {
        text-align: center;
        width: 100px;
    }
    .logoImages {
        width: 40px;
        height: 50px;
        margin-top: 0px;
    }
    p.para3Inside.paraLogo {
        width: 75%;
    }
    
    #headingSection1 {
        font-size: 2.0rem;
        color: white;
        position: absolute;
        top: 190px;
        left:57px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    
    header::before {
        content: "";
        background: url(../imagesWebsite/boyBackground.jpg) no-repeat center center/cover;
        width: 100%;
        height: 600px;
        position: absolute;
        z-index: -1;
        opacity: 0.9;
       
    }
    .logoImage {
        width: 50px;
        height: 24px;
    }
    .logo {
        width: 20%;
        height: 30px;
        margin: 10px 10px;
    }
    .headingLogoImage{
        font-size: 1.0rem;
        position: relative;
        top: 0px;
    }
    .WeekAnchor{
        font-size: 0.8rem;
    }
    
    .insideDivProgram {
        width: 150px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 11px;
    }
    .differentPorgrams {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 287px;
        top: 131px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 16px;
    }
    .imageProgram {
        width: 40px;
        height: 40px;
    }
    
    span#span1 {
        position: relative;
        left: 35px;
        font-size: 0.6rem;
        bottom: 11px;
    }
    span#span2 {
        position: relative;
        left: 5px;
        font-size: 0.6rem;
        bottom: 12px;
    }
    span#span3 {
        position: relative;
        left: 40px;
        font-size: 0.6rem;
        bottom: -2px;
        bottom: 12px;
    }
    #span11 {
        position: relative;
        left: 37px;
        font-size: 0.6rem;
        bottom: 16px;
    }
    #span12 {
        position: relative;
        left: 8px;
        font-size: 0.6rem;
        bottom: 17px;
    }
    #span13 {
        position: relative;
        left: 48px;
        font-size: 0.6rem;
        bottom: 17px;
    }
    .colorPara {
        color: #848484;
        width: 211px;
    }
    .btnInsideDivProgram {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid;
        border-color: #ccc;
        position: relative;
        right: 3px;
        top: -6px;
    }
    .trainers {
        position: relative;
        top: -40px;
    }
    
    #Buttone2{
        position: relative;
        top:-5px
    }
    button#buttone {
        position: relative;
        top: 0px;
    }
    
    #imageProgram2{
        width: 50px;
        height: 50px;
    } 
    #imageProgram1 {
        height: 50px;
        width: 50px;
        
    }
    .innerDiv {
        width: 105px;
        height: 136px;
        margin: 0px 10px;
    }
    #innerDivJ1{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
        
    }
    #innerDivJ2{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #innerDivJ3{
        margin: 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #innerDivJ4{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
    #logoJava {
        margin-top: 31px;
        display: flex;
    }
    
    .logophoto{
    width: 40px;
    height: 50px;
    }
    #span21 {
        position: relative;
        left: 41px;
        font-size: 0.6rem;
        bottom: 14px;
    }
    h1#headingProgram1 {
        position: relative;
        bottom: 6px;
        font-size: 0.9rem;
    }
    h1#headingProgram2 {
        font-size: 0.8rem;
        position: relative;
        bottom: 5px;
    }
    button#btn1 {
        position: relative;
        top: 0px;
    }
    button#btn4 {
        position: relative;
        top: 0px;
    }
    #span22 {
        position: relative;
        left: 13px;
        font-size: 0.6rem;
        bottom: 15px;
    }
    #span23 {
        position: relative;
        left: 50px;
        font-size: 0.6rem;
        bottom: 15px;
    }
    button#button3 {
        position: relative;
        top: 4px;
    }
    #button1{
        position: relative;
        top: 4px;
    }
    .trainerphoto{
        width: 130px;
        height: 130px;
        margin: 10px 15px;
    }
    #showHeadingJob1 {
        font-size: 11px;
        color: white;
        display: none;
        position: absolute;
        right: 377px;
        top: 68px;
    }
    #showHeadingName1 {
        font-size: 15px;
        color: white;
        display: none;
        position: absolute;
        right: 360px;
        top: 52px;
    }
    .logoShower {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 39px;
        position: absolute;
        left: 49px;
        top: 91px;
    }
    .buttonResponsive{
        position: relative;
        bottom: 0px;
        width: 80px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid;
        border-color: #ccc;
        font-size: 16px;
    }
    .logoImage {
        width: 20px;
        height: 20px;
    }
    .imageSlider::before {
        background: url(../imagesWebsite/sectionBack3.jpg) no-repeat center center/cover;
        content: " ";
        position: absolute;
        width: 100%;
        height: 350px;
        top: 0px;
        left: 0px;
        z-index: -1;
        opacity: 0.9;
    }
    #showHeadingName2 {
        font-size: 13px;
        color: black;
        display: none;
        position: absolute;
        top: 54px;
        left: 193px;
       
    }
      
    #showHeadingJob2 {
        font-size: 12px;
        color: black;
        display: none;
        position: absolute;
        top: 64px;
    }
      #logoShower2 {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 66px;
        position: absolute;
        top: 76px;
    }
    #showHeadingName3 {
        font-size: 14px;
        color: white;
        display: none;
        position: absolute;
        top: 52px;
        right: 37px;
       
    }
      
    #showHeadingJob3 {
        font-size: 12px;
        color: white;
        display: none;
        position: absolute;
        top: 61px;
        right: 55px;
    }
    #logoShower3 {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 66px;
        position: absolute;
        top: 73px;
        right: 64px;
    }
    
    #headingNascosto {
        font-size: 14px;
        color: white;
        display: none;
        position: absolute;
        right: 356px;
        top: 51px;
    }
    #headingCrosfit {
        font-size: 12px;
        color: white;
        display: none;
        position: absolute;
        right: 367px;
        top: 61px;
    }
    #logoShowerB {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 66px;
        position: absolute;
        top: 73px;
        left: 56px;
    }
    #showHeadingName4 {
        font-size: 15px;
        color: white;
        display: none;
        position: absolute;
        top: 50px;
        left: 196px;
    }
    #showHeadingJob4 {
        font-size: 12px;
        display: none;
        color: white;
        top: 61px;
        position: absolute;
    }
    #logoShower4 {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 66px;
        position: absolute;
        top: 74px;
        left: 213px;
    }
    #showHeadingName5 {
        font-size: 14px;
        color: white;
        position: absolute;
        display: none;
        width: 100%;
        top: 51px;
        left: 349px;
        display: none;
    }
    #showHeadingJob5 {
        left: 371px;
        font-size: 13px;
        color: white;
        top: 60px;
        position: absolute;
        width: 100%;
        display: none;
    }
    #logoShower5 {
        display: none;
        flex-direction: row;
        align-items: center;
        height: 66px;
        position: absolute;
        right: 63px;
        top: 72px;
    }
    
    p#paraAbout2 {
        font-size: 1.5rem;
        color: white;
        top: 54px;
    }
    p#paraAbout1 {
        font-size: 0.8rem;
        position: relative;
        top: 85px;
        color: white;
    }
    #footerSotto {
        border: 2px solid black;
        border-radius: 5px;
        position: relative;
        top: 0px;
        height: 30px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #about {
        position: relative;
        top: 0px;
    }
    .aboutClass {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(../imagesWebsite/GirlBackGroundTrainer.jpg) no-repeat;
        color: Black;
        height: 400px;
        flex-wrap: wrap;
        position: relative;
        
    }
    #headingSection {
        font-size: 2.0rem;
        color: white;
        position: absolute;
        top: 99px;
        left: 46px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    #headingSection1 {
        font-size: 1.5rem;
        color: white;
        position: absolute;
        top: 145px;
        left: 24px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in;
    }
    #headingSection1:hover{
        color: violet;
        font-size: 2.5rem;
      }
      .imageSlider {
        position: relative;
        top: 201px;
        height: 400px;
    }
    section.programs {
        position: relative;
        top: 0px;
        height: 800px;
    }
    
    #headingSection:hover{
        color: violet;
        font-size: 2.5rem;
      }
      div#main {
        position: relative;
        top: 84px;
        padding: 0px;
    }
    .differentPorgrams2 {
        width: 100%;
        margin-left: 0px;
        position: relative;
        top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    #differentPorgrams3 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        height: 287px;
        top: 74px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 17px;
    }
    #paraS11 {
        font-size: 1.2rem;
        width: 81%;
        text-align: center;
        margin-bottom: 0px;
        color: #848484;
        margin-top: 7px;
    }
    #paraS22 {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        color: #848484;
    }
    #trainerImages1 {
        position: relative;
        top: 31px;
    }
    #trainerImages2 {
        position: relative;
        top: 29px;
    }
}