@media (max-width:500px){
.headerClass{
width: 100%;
}

#navbar {
    position: relative;
    right: 108px;
    top: 13px;
}
#heading2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 44px;
    font-size: 2.3rem;
}
.btn{
    left: 56px;
    top: 10px;
}
.firstContainerS {
    width: 100%;
    margin-left: 0px;
    margin-right: 200px;
}
#paraS1{
    width: 81%;
    margin-top: 5px;
}
#paraS2 {
   margin-top: 0px;
}
#heading1 {
    margin-left: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2.3rem;
}
#secondHeading{
    font-size: 2.0rem;
}
.imageM {
    width: 50px;
    height: 50px;
}
ul.weelUl {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: 2px;
}
.a {
    font-size: 1.0rem;
}
#unList li{
    list-style: none;
    margin: 5px;
}
.weekList {
    list-style: none;
    margin: 0px 3.5px;
}
.logoInside {
    width: 130px;
    height: 110px;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
h1.headingProgram {
    font-size: 0.9rem;
}
p.para1Inside.paraLogo {
    margin-top: 8px;
    margin-left: 14px;
}
.paraLogo {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.7rem;
}
p.paraLogo.paraLogo1 {
    text-align: center;
    width: 100px;
}
.logoImages {
    width: 40px;
    height: 50px;
    margin-top: 0px;
}
p.para3Inside.paraLogo {
    width: 75%;
}
#headingSection {
    font-size: 2.0rem;
    color: white;
    position: absolute;
    top: 100x;
    left: 46px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
#headingSection1 {
    font-size: 2.0rem;
    color: white;
    position: absolute;
    top: 190px;
    left:57px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

header::before {
    content: "";
    background: url(../imagesWebsite/boyBackground.jpg) no-repeat center center/cover;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
   
}
.logoImage {
    width: 50px;
    height: 24px;
}
.logo {
    width: 20%;
    height: 30px;
    margin: 10px 10px;
}
.headingLogoImage{
    font-size: 1.0rem;
    position: relative;
    top: 0px;
}
.WeekAnchor{
    font-size: 0.8rem;
}
.insideDivProgram {
    width: 280px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0px;
}
.differentPorgrams {
    display: flex;
    position: relative;
    top: 100px;
    margin-left: 0px;
    margin-right: 0px;
}
span#span1 {
    position: relative;
    left: 30px;
    font-size: 0.7rem;
    bottom: 11px;
}
span#span2 {
    position: relative;
    left: 0px;
    font-size: 0.8rem;
    bottom: 12px;
}
span#span3 {
    position: relative;
    left: 32px;
    font-size: 0.8rem;
    bottom: -2px;
    bottom: 12px;
}
.colorPara {
    color: #848484;
    width: 211px;
}
.btnInsideDivProgram {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #ccc;
    position: relative;
    right: 3px;
    top: -19px;
}
}
@media (min-width:510px)and (max-width:1000px){

}